h1 {
  color: white;
  font-family: "promptbold";
  font-size: 22px;
}
.header {
  display: flex;
  justify-content: start;
  padding-bottom: 10px;
}
.position {
  font-family: "promptsemibold";
  color: white;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.logout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}

.icon {
  margin-left: 1rem;
  margin-right: 1rem;
}
.second {
  display: flex;
  justify-content: row;
}

.title-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

p {
  margin: 0;
}

.txt-too-long {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18pt;
}
