h1{
    color: white;
    font-family: 'promptbold';
    font-size: 22px;
}
.header{
    display: inline;
}
.position{
    font-family: 'promptsemibold';
    color: white;

}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.logout{
  float: right;
}

.icon{
    float: left;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
}
.second{
    display: inline;
}