<div class="footer container" >
    <div class="total row">
        <div class="column col-12">
            <div class="bar row">
            <div class="Home col-12">
                <img src="assets/img/home.png" style="width: 28px; height: 25px; " class="img-fluid">
                    <p>Home</p>
            </div>
            <!-- <div class="Message col-2" >
                <img src="assets/img/noti.png" style="width: 28px; height: 25px; " class="img-fluid" >
                <p>Message</p>
            </div>
            <div class="Work col-2">
                <img src="assets/img/work.png" style="width: 28px; height: 25px; " class="img-fluid">
                <p>Work</p>
            </div>
            <div class="xxx col-2">
                <img src="assets/img/xxx.png" style="width: 28px; height: 25px; " class="img-fluid">
                <p>xxx</p>
            </div>
            <div class="Profile col-2">
                <img src="assets/img/profile.png" style="width: 28px; height: 25px; " class="img-fluid">
                <p>Profile</p>
            </div> -->
        </div> 
        </div>
    </div>
</div>