.footer{
    display: flex;
    background-color: #322434;
    position: fixed;
    bottom: 0;
}
.column{
    padding-left: 0rem;
    padding-right: 0rem;
}
.bar{
    text-align: center;
    vertical-align: middle;
}
.Home{
    height: 50px;
    text-align: center;
    padding: 0.125rem 0.125rem;
    text-align: center;
    vertical-align: middle;
}
.Home p{
    color: white;
    font-family: 'promptregular';
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}
/* .Message{
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.125rem 0.125rem;
    margin: 0.125rem 0.3125rem;
    text-align: center;
    vertical-align: middle;
}
.Message p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.875em;
    color: #7D7D7D;
    text-align: center;
    vertical-align: middle;
}
.Work{
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.125rem 0.125rem;
    margin: 0.125rem 0.3125rem;
    text-align: center;
    vertical-align: middle;
}
.Work p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: #7D7D7D;
    text-align: center;
    vertical-align: middle;
}
.xxx{
    width: 3.125rem;
    height: 3.125rem;
    font-size:0.875em;
    padding:0.125rem 0.125rem;
    margin:0.125rem 0.3125rem;
    text-align: center;
    vertical-align: middle;
}
.xxx p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.875em;
    color: #7D7D7D;
    text-align: center;
    vertical-align: middle;
}
.Profile{
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.125rem 0.125rem;
    margin: 0.125rem 0.3125rem;
    text-align: center;
    vertical-align: middle;
}
.Profile p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: #7D7D7D;
    text-align: center;
    vertical-align: middle;
} */
.img-fluid{
    max-width: 100%;
    height: auto;
}