* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.white-background {
  display: flex;
  background-color: white;
  background-size: cover;
  height: 100%;
  position: fixed;
  margin-top: 1rem;
  border-radius: 0rem 3rem 0rem 0rem;
}

.search {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  height: 3rem;
  position: relative;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.inputBox {
  border: none;
  box-shadow: 0rem 0.2rem 0.2rem 0rem #797979;
  border-radius: 1.25rem;
  margin-left: 1.25rem;
}

.searchIcon {
  margin-left: -3.2rem;
  margin-top: 0.5rem;
}
.category {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  float: left;
  margin-left: 1rem;
}
.auto {
  align-items: center;
}
.sort {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  border: none;
  border-radius: 0.25rem;
  background: white;
  box-shadow: 0rem 0.25rem 0.25rem 0rem #8a8b8f;
}

.whiteButton {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 0.25rem;
  background: white;
  box-shadow: 0rem 0.25rem 0.25rem 0rem #8a8b8f;
  margin: 0.9375rem 0.625rem;
  width: 6.25rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.blueButton {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 0.25rem;
  background: #5160e7;
  color: white;
  box-shadow: 0rem 0.25rem 0.25rem 0rem #8a8b8f;
  margin: 0.9375rem 0.625rem;
  width: 6.25rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.everyButton {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.items-1 {
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  justify-content: space-around;
}
.p {
  text-align: center;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  float: center;
  padding-bottom: 0;
}
.swiper-container {
  display: flex;
  position: fixed;
  top: 38vh;
  right: 0;
  bottom: 6vh;
  left: 0;
}

.allapp {
  text-align: center;
  vertical-align: middle;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  padding-bottom: 260px;
}
.txt-icon {
  font-size: 11px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  line-height: 20px;
}
