.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.img{
    margin-top: 2rem;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.usernamePassword{
    margin-top: 2rem;
    height: 9rem;
    position: relative;
    justify-content: space-around;

}
/* .empCode{
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 90vw;
    float: center;

} */
.empCode{
    border-radius: 2rem;
    height: 2.5rem;
    width: 70vw;
}
.password{
    border-radius: 2rem;
    height: 2.5rem;
    width: 70vw;
}
.boxInput{
    background-color: white;
    float: left;
    border-radius: 1.5rem;
    width: 90vw;
}
.boxPassword{
    background-color: white;
    float: left;
    border-radius: 1.5rem;
    margin-top: 1.25rem;
    width: 90vw;
}
.all{
    margin: 1vh;
    margin-left: 0.5rem;
    margin-right: 0.125rem;
}

.iconBox{
    padding: 0.5rem 8%;
    width: 20%;
    float: left;
}
.formBox{
    width: 80%;
    float: left;
}
.icon{
    float: center;
}
.loginButton{
    border: none;
    border-radius: 0.3125rem;
    background-color: #93859A;
    font-family: 'promptbold';
    font-size: 21px;
    color: white;
    width: 90vw;
    height: 3rem;
    margin-top: 1rem;
}
.img-login{
margin-top : -1vh;
}
::placeholder{
    font-family: 'promptregular';
}