<div class="white-background container">
  <div class="row search">
    <div class="col-10 inputBox" style="display: flex">
      <input
        type="text"
        name="search"
        #searchMenu
        autocomplete="off"
        placeholder="ค้นหาแอปพลิเคชัน"
        style="border: none"
        class="form-control"
      />
      <div class="pt-1" style="margin-left: -20px">
        <img src="assets/img/search.png" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="row category">
    <div class="everyButton">
      <button
        (click)="onGroupsFilter('ALL')"
        [ngClass]="{

          blueButton: checkBtn == 'ALL',
          whiteButton: checkBtn != 'ALL'
        }"
      >
        <!-- <img
          *ngIf="checkBtn == 'ALL'"
          src="assets/img/all.png"
          class="img-fluid"
        /> -->
        <!-- <img
          *ngIf="checkBtn != 'ALL'"
          src="assets/img/allblack.png"
          class="img-fluid"
        /> -->
        ทั้งหมด
      </button>

      <button
        (click)="onGroupsFilter('1')"
        [ngClass]="{
          blueButton: checkBtn == '1',
          whiteButton: checkBtn != '1'
        }"
      >
        <!-- <img
          *ngIf="checkBtn == '1'"
          src="assets/img/documentwhite.png"
          class="img-fluid"
        /> -->
        <!-- <img
          *ngIf="checkBtn != '1'"
          src="assets/img/document.png"
          class="img-fluid"
        /> -->
        เอกสาร
      </button>

      <button
        (click)="onGroupsFilter('2')"
        [ngClass]="{
          blueButton: checkBtn == '2',
          whiteButton: checkBtn != '2'
        }"
      >
        <!-- <img
          *ngIf="checkBtn == '2'"
          src="assets/img/repairwhite.png"
          class="img-fluid"
        />
        <img
          *ngIf="checkBtn !== '2'"
          src="assets/img/repair.png"
          class="img-fluid"
        /> -->
        การซ่อม
      </button>

      <button
        (click)="onGroupsFilter('3')"
        [ngClass]="{
          blueButton: checkBtn == '3',
          whiteButton: checkBtn != '3'
        }"
      >
        <!-- <img
          *ngIf="checkBtn == '3'"
          src="assets/img/statwhite.png"
          class="img-fluid"
        />
        <img
          *ngIf="checkBtn !== '3'"
          src="assets/img/static.png"
          class="img-fluid"
        /> -->
        ยอดขาย
      </button>
    </div>
  </div>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet" class="mymenu-render"></router-outlet>
  </div>
</div>
